<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=tcp:95.165.132.185,14972;Initial Catalog=OzonTest;Persist Security Info=True;User ID=sql_admin;Password=12131213" name="default"/>
  </connectionStrings>
  <appSettings>
    <add key="cron" value=" 1 * * * * ? *"/>
  </appSettings>
</configuration>